{% load static %}
{% block content  %}
    <a
        {% if disable_link %}
            href="#"
        {% else %}
            href="{% url 'accounts:profile' id=user.id %}"
        {% endif %}
        data-userid="{{ user.id }}"
    >
        {% if user.user_profile.image == '' %}
            <img src='/media/userpick.webp' class="rounded-circle user-icon transition icon-{{ size }}"/>
        {% else %}
            <img src='{{ user.user_profile.image.url }}' class="rounded-circle user-icon transition bg-white icon-{{ size }}"/>
        {% endif %}
    </a>
{% endblock %}